---
import UrlCheck from "@/components/UrlCheck.svelte"
import Footer from "@/components/Footer.vue"
import Header from "@/components/Header.svelte"
import '../style/globals.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<title>flolyn</title>
	</head>
	<body class="text-center py-10 antialiased bg-gradient-to-r from-zinc-200 to-rose-200">
		<div class="flex mt-20 items-center justify-center space-x-24">
			<div>
				<Header/>
				<br>
				<UrlCheck client:only="svelte"/>
			</div>
			<div>
				<Footer/>
			</div>
		</div>

	</body>
</html>
